<p-menubar [model]="itemsMenu">
    <img src="../favicon.ico" class="p-mr-2">
</p-menubar>

<p-panelMenu [model]="itemsPanel" [style]="{'width':'300px'}"></p-panelMenu>

<p-calendar name="value" [(ngModel)]="value" [inline]="true"></p-calendar>

<p-toast></p-toast>

<button pButton type="button" label="Show Toast" (click)="addSingle()">
</button>

<button pButton type="button" label="Show Toast" (click)="addMultiple()">
</button>

<p-dialog header="Title" [(visible)]="display">
    Content
</p-dialog>

<button pButton type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show"></button>

